<h1>Hello {{autore}}</h1>
<h1 [class]="users.gender == 'M' ? 'blue' : 'pink'">{{users.name}}</h1>
<h2>{{somma(10,5)}}</h2>
<h2 [class]="contatore < 0 ? 'red' : 'blue'">Contatore {{contatore}}</h2>
<div>{{title}}</div>
<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>
<div>Contatore è {{contatore > 5 ? "maggiore di 5 " : "minore/uguale a 5 "}} </div>
<button [hidden]='url' (click)="loadImage()">Load Image</button>
<button [hidden]='!url' (click)="unloadImage()">Unload Image</button>
<div *ngIf = "url">
<hr>
<img (click)="clickOnImage()"
      *ngFor="let number of [1,2,3,4]"
      [height]= "imageHeight"
      [src]="url">
<hr>
<button (click)="incrementImage()">+</button>
<button (click)="decrementImage()">-</button>
</div>
<div></div>
<a href="http://www.ospreys.it">Web site</a>
<div></div>
<input  class="cDataDiNascita"
        (keyup)="onKeyUp(dataDiNascita.value)"
        [value]='autore'
        #dataDiNascita>
